body{

background-image: url(https://images.adsttc.com/media/images/5478/0fb5/e58e/cebd/8400/00ea/large_jpg/PORTADA.jpg?1417154469);
background-size: 100vw 100vh;
background-attachment: fixed;
margin: 0;

}